body {
  background-color: darkgrey;
}

header {
  position: fixed;
  top: 0;
  display: flex;

  right: 0px;
  width: 100%;
  justify-content: space-between;
  background-color: lightslategray;
}

header nav {
  padding: 10px;
  margin-top: 5px;
}

header a {
  margin: 0 5px 0 5px;
}

header p {
  margin-left: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer a {
  padding: 10px;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: lightslategray;
  margin-left: 0;
}

a:visited {
  text-decoration: none;
  color: black;
}

nav a {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 5px;
  box-shadow: 2px 2px 2px;
}

a:hover {
  box-shadow: 5px 5px 5px;
}

.active {
  background-color: aliceblue;
}
